@model IEnumerable<DSS.BLL.DTO.Community_Risks_DTO>

@{
    ViewBag.Title = "Select_Community";
}

    <h1 style="text-align: center; color: darkorange; font-weight: bold"> Community Risks - All Records</h1>

@Html.ActionLink("<-- Back", "WOR_Tabs", "Home", "", new { id = "back" })
<br />
<br />
<br />
@if (ViewBag.err)
{
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <div style="width:200px">  @Html.DisplayNameFor(model => model.Location)</div>
              
            </th>
            <th>
                Type of Risk
                @*@Html.DisplayNameFor(model => model.Type_Of_Risk)*@
            </th>
            <th>
                Brief Description of Risk Issue
                @*@Html.DisplayNameFor(model => model.Descriptions)*@
            </th>
            <th>
                Potential Risk for MOH/Licensing Visit
                @*@Html.DisplayNameFor(model => model.Potential_Risk)*@
            </th>
            <th>
                MOH/Licensing Visit
                @*@Html.DisplayNameFor(model => model.MOH_Visit)*@
            </th>
            <th>
                Risk for Legal Action
                @*@Html.DisplayNameFor(model => model.Risk_Legal_Action)*@
            </th>
            <th>
                Hot Alert Call Held
                @*@Html.DisplayNameFor(model => model.Hot_Alert)*@
            </th>
            <th>
                Status Update
                @*@Html.DisplayNameFor(model => model.Status_Update)*@
            </th>
            <th>
                Resolved
                @*@Html.DisplayNameFor(model => model.Resolved)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @ViewBag.list[item.Location - 1]
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_Of_Risk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Potential_Risk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOH_Visit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Risk_Legal_Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hot_Alert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_Update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolved)
        </td>
        <td id="btns">
            <div style="width:200px">
                @Html.ActionLink("Edit", "Edit_Community", "Edit", new { id = item.Id }, new { @class = "b" })
                @Html.ActionLink("Details", "Community_Details", "Details", new { id = item.Id }, new { @class = "b" })
                @Html.ActionLink("Delete", "Community_Delete", "Delete", new { id = item.Id }, new { @class = "b" })
            </div>
        </td>
    </tr>
        }
    </table>
}
else
{
    <h4 style="text-align: center;
        color: white;
        border: 2px solid red;
        border-radius: 9px;
        padding: 12px;
        background: red">@ViewBag.emptyMsg</h4>
}
<style>
    .b {
        color: darkorange;
        padding: 6px;
        font-weight: bold;
        text-align: center;
    }

        .b:hover {
            border: 1px solid darkorange;
            padding: 5px;
            color: white;
            background-color: darkorange;
            text-decoration: none;
            border-radius: 10px;
        }

    #back {
        text-decoration: none;
        border: 2px solid darkorange;
        color: darkorange;
        border-radius: 25px;
        padding: 14px;
    }

        #back:hover {
            background-color: darkorange;
            color: white;
        }

    .btnn {
        text-decoration: none;
    }

    #btn {
        padding: 5px;
        text-align: center;
        border-radius: 12px;
        margin-bottom:4px;
    }

        #btn:hover {

        }
</style>