<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WOR Compliants sf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-dark" href="#">Navbar</a>
            <a class="navbar-brand text-dark" href="#">Navbar</a>
            <a class="navbar-brand text-dark" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("WOR Tabs", "WOR_Tabs", "Home", "", new { @class = "nav-link text-white-50", style = "font-family:Time New Roman", id = "btn" })</li>
                    <li class="nav-item">@Html.ActionLink("Upload Files", "Files", "Home", new { @class = "nav-link text-white-50", style = "font-family:Time New Roman", id = "btn" })</li>
                    <li class="nav-item">@Html.ActionLink("Files", "AllFiles", "Home", new { @class = "nav-link text-white-50", style = "font-family:Time New Roman", id = "btn" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <hr />
        @RenderBody()
        <br /><br /><br />
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
